<h1>Chat</h1>
<hr>

<div class="app-mensajes" id="app-mensajes">
    <div *ngFor="let chat of chatsService.chats"
    [ngClass]="{'text-right': chatsService.usuario.uid == chat.uid}"
    >
        <span class="badge "
            [ngClass]="{
                'badge-primary': chatsService.usuario.uid == chat.uid, 
                'badge-success': chatsService.usuario.uid != chat.uid}"
        >{{ chat.nombre }}</span>
        <p>
            {{ chat.mensaje }}
        </p>
    </div>
    <!-- <div>
        <span class="badge badge-success">Maria</span>
        <p>
            Hola Isaac
        </p>
    </div> -->
</div>
<input 
    type="text" 
    name="mensaje" 
    placeholder="Enviar mensaje..."
    class="form-control"
    [(ngModel)]="mensaje"
    (keyup.enter)="enviarMensaje()"
>
